<header>
  <h1>Terms Of Service</h1>
  <span>Updated July 2023</span>
</header>
<div class="container">
  <aside>
    <h1>Table Of Contents</h1>
    <ol type="01">
      <li><a href="#link1">Lorem ipsum</a></li>
      <li><a href="#link2" class="active">Neque porro quisquam est qui</a></li>
      <li><a href="#link3">Lorem ipsum dolorem</a></li>
      <li><a href="#link4">adipiscing elit ipsum</a></li>
      <li><a href="#link5">Lorem ipsum</a></li>
    </ol>
  </aside>
  <div class="content">
    <section id="link1">
      <h1>01. Lorem ipsum</h1>
      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
        industry's standard dummy text ever since the 500s, when an unknown printer took a galley of type
        and scrambled it to make a type specimen book.
      </p>
    </section>

    <section id="link2" class="current">
      <h1>02.Neque porro quisquam est qui</h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
        et dolore magna
        aliqua. Tortor condimentum lacinia quis vel eros donec ac odio. Vulputate odio ut enim blandit
        volutpat maecenas
        volutpat. At ultrices mi tempus imperdiet nulla malesuada pellentesque elit. Adipiscing tristique
        risus nec feugiat in
        fermentum. Nulla porttitor massa id neque aliquam. Vel pretium lectus quam id leo in vitae turpis.
        Neque convallis a
        cras semper auctor neque. Commodo odio aenean sed adipiscing diam donec adipiscing tristique. Ipsum
        consequat nisl vel
        pretium lectus quam id leo in. Erat imperdiet sed euismod nisi porta lorem mollis aliquam. Luctus
        accumsan tortor
        posuere ac ut consequat. Donec massa sapien faucibus et molestie ac feugiat.
      </p>
      <p>
        Convallis tellus id interdum velit laoreet id donec ultrices. Vestibulum mattis ullamcorper velit
        sed ullamcorper.
        Auctor elit sed vulputate mi sit. At quis risus sed vulputate odio ut enim blandit volutpat. Justo
        laoreet sit amet
        cursus sit. Tincidunt nunc pulvinar sapien et ligula ullamcorper malesuada. At risus viverra
        adipiscing at. Ut morbi
        tincidunt augue interdum velit. Lectus vestibulum mattis ullamcorper velit. Neque convallis a cras
        semper auctor neque.
        At in tellus integer feugiat scelerisque varius morbi enim nunc.
      </p>
    </section>

    <section id="link3">
      <h1>03. Lorem ipsum dolorem</h1>
      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
        industry's standard dummy text ever since the 500s, when an unknown printer took a galley of type
        and scrambled it to make a type specimen book.
      </p>
    </section>

    <section id="link4">
      <h1>04. adipiscing elit ipsum</h1>
      <p>
        Convallis tellus id interdum velit laoreet id donec ultrices. Vestibulum mattis ullamcorper velit
        sed ullamcorper.
        Auctor elit sed vulputate mi sit. At quis risus sed vulputate odio ut enim blandit volutpat. Justo
        laoreet sit amet
        cursus sit. Tincidunt nunc pulvinar sapien et ligula ullamcorper malesuada. At risus viverra
        adipiscing at. Ut morbi
        tincidunt augue interdum velit. Lectus vestibulum mattis ullamcorper velit. Neque convallis a cras
        semper auctor
        neque.
        At in tellus integer feugiat scelerisque varius morbi enim nunc.
      </p>
    </section>

    <section id="link5">
      <h1>05. Lorem ipsum</h1>
      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
        industry's
        standard dummy text ever since the 500s, when an unknown printer took a galley of type and scrambled
        it to make a type
        specimen book.
      </p>
    </section>
  </div>
</div>