<div class="container">
  <div class="toolbar">
    <section>
      <div class="example-button-row">
        <div class="example-flex-container">
          <div class="example-button-container">
            <button (click)="launchProjectWizard()"
                    aria-label="Example icon button with a delete icon"
                    color="primary"
                    mat-fab
                    matTooltip="Create new project">
              <mat-icon>add</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </section>
  </div>

  <div class="projectList" data-nav="Projects" id="projects-list">
    <h3>Projects
      <mat-icon (click)="projectsHelp()">help</mat-icon>
    </h3>

    <mat-form-field>
      <mat-label>Filter</mat-label>
      <input #input (input)="applyFilter($event)" matInput
             placeholder="Ex. Mia"/>
    </mat-form-field>

    <div style="overflow-x: auto">
      <table (matSortChange)="onTableSort($event)" [dataSource]="dataSource"
             [matSortActive]="sortBy"
             [matSortDirection]="sortDirection === 'asc' ? 'asc' : 'desc'"
             class="mat-elevation-z8"
             mat-table
             matSort
             multiTemplateDataRows style="width: fit-content">
        <!--- Note that these columns can be defined in any order.
      The actual rendered columns are set as a property on the row definition" -->

        <!-- Name Column -->
        <ng-container matColumnDef="thumbnail">
          <th *matHeaderCellDef mat-header-cell>
          <span
              matTooltip="Thumbnail of shoppable video displayed when launching.">
              Thumbnail
          </span>
          </th>
          <td *matCellDef="let element" mat-cell>
            <div *ngIf="element.thumbnail?.url != null || element.thumbnail?.secure_url != null" class="thumbnail">
              <img [src]="element.thumbnail?.url || element.thumbnail?.secure_url" loading="lazy"/>
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th *matHeaderCellDef mat-header-cell mat-sort-header>
            <span matTooltip="Name of the shoppable video."> Name </span>
          </th>
          <td *matCellDef="let element" mat-cell>
            {{ element.name }}
          </td>
        </ng-container>

        <ng-container matColumnDef="active">
          <th *matHeaderCellDef mat-header-cell mat-sort-header>
          <span
              matTooltip="Status of project. Published/Un-published.  If the status is unpublished then the shoppable video will not be available for playing/viewing.">
              Status
          </span>
          </th>
          <td *matCellDef="let element" mat-cell>
            <mat-slide-toggle (change)="updateFunc(element, $event)"
                              [(checked)]="element.active"
                              [color]="color"
                              class="example-margin">
            </mat-slide-toggle>
          </td>
        </ng-container>

        <ng-container matColumnDef="watchCount">
          <th *matHeaderCellDef mat-header-cell mat-sort-header>
          <span
              matTooltip="Number of times a video has been launched and watched.">
              Watches
          </span>
          </th>
          <td *matCellDef="let element" mat-cell>
            {{ element.stats.videoWatchCount }}
          </td>
        </ng-container>

        <ng-container matColumnDef="pauseCount">
          <th *matHeaderCellDef mat-header-cell mat-sort-header>
            <span
                matTooltip="Number of times a video has been paused since it was launched.">
                Pauses
            </span>
          </th>
          <td *matCellDef="let element" mat-cell>
            {{ element.stats.videoPauseCount }}
          </td>
        </ng-container>

        <ng-container matColumnDef="clickCount">
          <th *matHeaderCellDef mat-header-cell mat-sort-header>
          <span
              matTooltip="Total number of times a product has been selected.">
              Clicks
          </span>
          </th>
          <td *matCellDef="let element" mat-cell>
            {{ element.stats.videoClickCount }}
          </td>
        </ng-container>

        <ng-container matColumnDef="buyNowCount">
          <th *matHeaderCellDef mat-header-cell mat-sort-header>
          <span
              matTooltip="Total number of times a buy now button for a product has been selected.">
              Buy Nows
          </span>
          </th>
          <td *matCellDef="let element" mat-cell>
            {{ element.stats.buyNowClickCount }}
          </td>
        </ng-container>

        <ng-container matColumnDef="createdAt">
          <th *matHeaderCellDef mat-header-cell mat-sort-header>
          <span
              matTooltip="Date of when the shoppable video project was created.">
              Created
          </span>
          </th>
          <td *matCellDef="let element" mat-cell>
            {{ element.createdAt | date }}
          </td>
        </ng-container>

        <ng-container matColumnDef="updatedAt">
          <th *matHeaderCellDef mat-header-cell mat-sort-header>
          <span
              matTooltip="Last time the shoppable video project was updated.">
              Updated
          </span>
          </th>
          <td *matCellDef="let element" mat-cell>
            {{ element.updatedAt | date }}
          </td>
        </ng-container>

        <ng-container matColumnDef="edit">
          <th *matHeaderCellDef mat-header-cell>
            <span matTooltip="Edit Project"> </span>
          </th>
          <td *matCellDef="let element" fxLayout="row" mat-cell>
            <button (click)="onEdit(element)" mat-button
                    matTooltip="Edit Project"
                    style="min-width: unset; padding: 0 5px; ">
              <mat-icon>edit</mat-icon>
            </button>
            <button (click)="deleteProject(element)" mat-button
                    matTooltip="Delete Project"
                    style="min-width: unset; padding: 0 5px;">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
        <ng-container matColumnDef="expandedDetail">
          <td *matCellDef="let element" [attr.colspan]="4" mat-cell>
            <div *ngIf="element.productGroupTimeLine != null"
                 [@detailExpand]="
              element == expandedElement ? 'expanded' : 'collapsed'
            " class="example-element-detail">
              <div *ngIf="expandedElement" class="inner-table mat-elevation-z8">
                <!-- <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field> -->
                <NestedProductsTable
                    [data]="element.productGroupTimeLine"></NestedProductsTable>
              </div>
            </div>
          </td>
        </ng-container>

        <tr *matHeaderRowDef="projectsCols" mat-header-row></tr>
        <tr (click)="expandedElement = expandedElement === element ? null : element"
            *matRowDef="let element; columns: projectsCols"
            [class.example-expanded-row]="expandedElement === element"
            class="example-element-row"
            mat-row></tr>
        <tr *matRowDef="let row; columns: ['expandedDetail']"
            class="example-detail-row"
            mat-row></tr>
      </table>
    </div>

    <mat-paginator #paginator (page)="onTableChange($event, 'projects')"
                   [pageIndex]="projectsPage"
                   [pageSizeOptions]="[5, 10, 20]" [pageSize]="projectsPageSize"
                   showFirstLastButtons>
    </mat-paginator>
  </div>

  <div class="campaignsToolbar" data-nav="Campaigns" id="campaigns-list">
    <section>
      <div class="example-button-row">
        <div class="example-flex-container">
          <div class="example-button-container">
            <button (click)="launchCampaignsWizard()"
                    aria-label="Example icon button with a delete icon"
                    color="primary"
                    mat-fab
                    matTooltip="Create new campaign">
              <mat-icon>add</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </section>
  </div>

  <div class="campaignsList">
    <h3>Campaigns</h3>

    <mat-form-field>
      <mat-label>Filter</mat-label>
      <input #input (keyup)="applyCampaignsFilter($event)"
             matInput placeholder="Ex. Mia"/>
    </mat-form-field>

    <div style="overflow-x: auto">
      <table #campaignSorter="matSort" [dataSource]="campaignsDataSource"
             class="mat-elevation-z8"
             mat-table matSort
             multiTemplateDataRows style="width: fit-content">
        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th *matHeaderCellDef mat-header-cell mat-sort-header>Name</th>
          <td *matCellDef="let element" mat-cell>{{ element.name }}</td>
        </ng-container>

        <ng-container matColumnDef="project">
          <th *matHeaderCellDef mat-header-cell mat-sort-header>Project</th>
          <td *matCellDef="let element" mat-cell>{{ element.project.name }}</td>
        </ng-container>

        <ng-container matColumnDef="completionCount">
          <th *matHeaderCellDef class="text-align-right" mat-header-cell
              mat-sort-header> <span
              matTooltip="The number times an ad has been run the full length and any gamification has been fulfilled.">
                        Completions </span></th>
          <td *matCellDef="let element" class="text-align-right"
              mat-cell> {{element.stats.completionCount}} </td>
        </ng-container>

        <ng-container matColumnDef="engagementCount">
          <th *matHeaderCellDef class="text-align-right" mat-header-cell
              mat-sort-header> <span
              matTooltip="The number times an ad has been run the full length and any gamification has been fulfilled.">
                        Engagements </span></th>
          <td *matCellDef="let element" class="text-align-right"
              mat-cell> {{ element.stats.engagementCount }}
          </td>
        </ng-container>

        <ng-container matColumnDef="impressionCount">
          <th *matHeaderCellDef class="text-align-right" mat-header-cell
              mat-sort-header><span
              matTooltip="Campaign Impressions.  Measured by how many times an ad has been initiated.">
                        Impressions
                    </span></th>
          <td *matCellDef="let element" class="text-align-right"
              mat-cell> {{element.stats.impressionCount}} </td>
        </ng-container>

        <ng-container matColumnDef="budgetAmount">
          <th *matHeaderCellDef mat-header-cell mat-sort-header>
            <span matTooltip="Daily budget of campaign."> Budget </span>
          </th>
          <td *matCellDef="let element" mat-cell>{{ element.budgetAmount }}</td>
        </ng-container>

        <ng-container matColumnDef="spentAmount">
          <th *matHeaderCellDef mat-header-cell mat-sort-header>
            <span matTooltip="Total Cost of Campaign"> Total Spend </span>
          </th>
          <td *matCellDef="let element" mat-cell>{{ element.spentAmount }}</td>
        </ng-container>

        <ng-container matColumnDef="startDate">
          <th *matHeaderCellDef mat-header-cell mat-sort-header>
            <span matTooltip="Start Date"> Start Date </span>
          </th>
          <td *matCellDef="let element" mat-cell>{{ element.startDate }}</td>
        </ng-container>

        <ng-container matColumnDef="audienceId">
          <th *matHeaderCellDef mat-header-cell mat-sort-header>
            <span matTooltip="Audience of Campaign"> Audience </span>
          </th>
          <td *matCellDef="let element" mat-cell>{{ element.audienceId }}</td>
        </ng-container>

        <ng-container matColumnDef="createdAt">
          <th *matHeaderCellDef mat-header-cell mat-sort-header>
          <span
              matTooltip="Date of when the shoppable video project was created.">
              Created
          </span>
          </th>
          <td *matCellDef="let element" mat-cell>
            {{ element.createdAt | date }}
          </td>
        </ng-container>

        <ng-container matColumnDef="updatedAt">
          <th *matHeaderCellDef mat-header-cell mat-sort-header>
          <span
              matTooltip="Last time the shoppable video project was updated.">
              Updated
          </span>
          </th>
          <td *matCellDef="let element" mat-cell>
            {{ element.updatedAt | date }}
          </td>
        </ng-container>

        <ng-container matColumnDef="active">
          <th *matHeaderCellDef mat-header-cell mat-sort-header>
          <span matTooltip="Status of campaign. Active/Inactive.">
              Active
          </span>
          </th>
          <td *matCellDef="let element" mat-cell>
            <mat-slide-toggle (change)="updateCampaignFunc(element, $event)"
                              [(checked)]="element.active"
                              [color]="color">
            </mat-slide-toggle>
          </td>
        </ng-container>

        <ng-container matColumnDef="campaignEdit">
          <th *matHeaderCellDef mat-header-cell>
            <span matTooltip="Edit Campaign"> </span>
          </th>
          <td *matCellDef="let element" mat-cell>
            <button (click)="onCampaignEdit(element)" mat-button
                    matTooltip="Edit Campaign">
              <mat-icon>edit</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr *matHeaderRowDef="displayedColumns2" mat-header-row></tr>
        <tr *matRowDef="let row; columns: displayedColumns2" mat-row></tr>
      </table>
    </div>
    <mat-paginator #campaignPaginator
                   (page)="onTableChange($event, 'campaigns')"
                   [pageIndex]="campaignsPage"
                   [pageSizeOptions]="[5, 10, 20]"
                   [pageSize]="campaignsPageSize"
                   showFirstLastButtons>
    </mat-paginator>
  </div>
</div>
