<div class="container">
  <svg viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
    <path fill="#FF0066" d="M32.7,-39.1C45.5,-28.3,61,-20.9,61.6,-11.7C62.3,-2.4,48.1,8.6,40.3,24.4C32.5,40.2,31,60.7,22.2,66.2C13.3,71.8,-3,62.4,-15.6,53.3C-28.3,44.2,-37.3,35.5,-47.4,24.3C-57.4,13.2,-68.5,-0.4,-71,-17C-73.5,-33.6,-67.3,-53.2,-54,-63.9C-40.7,-74.5,-20.4,-76.2,-5.2,-70.1C10,-63.9,20,-49.8,32.7,-39.1Z" transform="translate(100 100)" />
  </svg>
  <div class="message">
    <div class="illustration">
      <img alt="Email verified illustration"
           class="illustration--img"
           src="assets/img/email-verified-illustration.svg"/>
    </div>
    <h1 class="message--heading">Email verified!</h1>
    <p class="message--text">Your email has been successfully verified.</p>
    <button color="primary" mat-flat-button>Login</button>
  </div>
</div>
