<section class="pricing">

	<div *ngFor="let plan of plans" class="card pricing--{{ plan.name }}">
		<div class="card__title">
			<h1 class="card__heading">{{ plan.displayName }}</h1>
			<sup class="card__sup"><img class="card__icon" alt="" src="../../assets/img/plan-{{ plan.name }}-badge.svg"></sup>
			<h3 *ngIf="plan.name === 'free'" class="card__subheading">Always Free</h3>
			<p class="card__description">{{ plan.description }}</p>
			<div class="card__background"></div>
		</div>

		<div *ngIf="plan.name !== 'free'" class="card__subtitle">
			<h3 class="card__subheading"><img class="card__icon" alt="arrow" src="../../assets/img/plan-arrow.svg"> Every thing in free plan plus:</h3>
			<h4 class="card__price">
				<span class="card__currency">&#36; </span>{{ removeCurrencyChar(plan.cycles[0].pricingModel.priceFormatted) }}<span class="card__period">/month</span>
			</h4>
		</div>

		<div class="card__features">
			<h2 *ngIf="plan.name === 'free'" class="card__features-heading">Features</h2>
			<ul class="card__list">
				<li class="card__item">
					<img class="card__icon" alt="Diamond icon" src="../../assets/img/feature-diamond.svg">
					At vero eos et accusamus et iusto odio.
				</li>
				<li class="card__item">
					<img class="card__icon" alt="Diamond icon" src="../../assets/img/feature-diamond.svg">
					Lorem Ipsum is <span class="card__highlight">simply</span> dummy.
				</li>
				<li class="card__item">
					<img class="card__icon" alt="Diamond icon" src="../../assets/img/feature-diamond.svg">
					Lorem Ipsum is simply dummy text of the
					printing and typesetting industry.
				</li>
				<li class="card__item">
					<img class="card__icon" alt="Diamond icon" src="../../assets/img/feature-diamond.svg">
					Lorem Ipsum is simply dummy.
				</li>
			</ul>
		</div>

		<button class="card__btn" (click)="redirectToSignUp(plan.name, plan.cycles[plan.cycles.length - 1].cycleId)">choose plan</button>
	</div>

</section>
